<div class="form">
  <h1> Stupid Coaching!!! </h1>
  <div class="title-h3">
    <h3>My question: <%= @ask %> </h3>
    <h3>Couch answer: <%= @answer %> </h3>
  </div>

<a href="/ask"  type="button" class="btn btn-primary"> Add a new question </a>
</div>
