/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

 .input-group{
  display: flex;
  justify-content: center;
  margin:0px auto;
  text-align: center;
}
 .btn{
  margin: 10px 0px;
  width: auto;
  font-size: 20px;
  transition: .5s;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}
h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 50px;
}
.title-h3{
  margin-bottom: 20px;

}
.title-h3 h3{
  font-size: 20px;
  color: rgb(143, 138, 138);

}

.form-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.form-1 h1{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 200px;
}
.title-h3{
  margin-bottom: 20px;

}
.title-h3-1 h3{
  font-size: 20px;
  color: rgb(143, 138, 138);

}
